@import url('bootstrap');

/* Header */

.navbar {
  background-color: lightblue;
  color: #092630;

  /* from Bootsrap inline style */
  .navbar-nav-scroll {
    --bsScrollHeight: 100px;
  }

  /* Active nav item */
  .active {
    background-color: antiquewhite;
    border-radius: 50px;
  }

  /* Search bar */
  #nav_search {
    color: #60a3b9;
  }
  .search_btn {
    background-color: antiquewhite;
  }
  ::placeholder {
    color: #60a3b9;
  }

  /* Toggler */
  .navbar-toggler {
    border-color: #60a3b9;
    border-radius: 50px;
  }

}





